:host {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 10px;

  button {
    border-radius: 5px;
    min-width: 25px;
    height: 25px;
    background-color: rgba(61, 61, 61, 0.55);
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;

    &.active {
      background-color: #4caf50;
      border-color: #4caf50;
    }
  }
}