:host {
  display: block;
}

input {
  display: block;
  padding: 10px;
  width: 300px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  >div {
    display: flex;
    flex-direction: column;
  }

  img {
    flex: 1 1 auto;
    border-bottom: 4px solid red;
  }
}