:host {
  display: block;
}

input {
  display: block;
  padding: 10px;
  width: 300px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;

  >div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    color: rgb(155, 155, 147);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    flex: 1 1 auto;
    border-bottom: 4px solid greenyellow;
  }
}